[Unit]
Description=Amazon CloudWatch Agent
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/aws/amazon-cloudwatch-agent/bin/start-amazon-cloudwatch-agent -config /opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json
ExecStop=sudo /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -m ec2 -a stop
KillMode=process
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
